.color-card {
    margin: 0px 10px;
    padding: 5px;
    width: 300px;
}

.color-card-headline {
    display: inline;
    padding: 2px 6px;
    background: black;
    color: white;
}

.colorForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.inputArea {
    display: flex;
    flex-direction: column;
}
